---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

<ul>
<li>
Solid State Electrolytes for Rechargeable Lithium Metal Batteries
<br>Battery Modeling Webinar Series (2020)
<br>Z. Ahmad
</li>
<li> 
Dendrite Suppression for Metal Anodes Using Liquid Crystalline Electrolytes
<br>Materials Research Society Fall Meeting (2019)
<br>Z. Ahmad, Z. Hong, V. Viswanathan
</li>
<li>
Design principles for multicomponent solid electrolytes for lithium metal anodes
<br>American Physical Society March Meeting (2019)
<br>Z. Ahmad, H. Hafiz, V. Viswanathan
</li>
<li> 
Solid electrolytes for stable electrodeposition in Li metal anode based batteries
<br>American Physical Society March Meeting (2018)
<br>Z. Ahmad, V. Viswanathan
</li>
<li>
Data Science on Inorganic Crystals
<br>4th Annual Electrochemical Energy Symposium, Carnegie Mellon University (2018)
<br>Z. Ahmad, V. Viswanathan
</li>
<li>
Machine Learning-Driven Prediction of Electrodeposition Stability of Inorganic Solid Electrolytes with Li-Metal Anode
<br>Materials Research Society Fall Meeting (2017)
<br>Z Ahmad, C. Maheshwari, V. Viswanathan
<li>
New Approach of Dendrite Suppression Using Solid Electrolyte to Enable Li Metal Anodes
<br>Electrochemical Society Fall Meeting (2017)
<br>Z. Ahmad, V. Viswanathan
</li>
</ul>
